@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model.GetCaseSensitive())
{
  <p class="search-item-header">Case-Sensitive Search</p>
}
else
{
  <p class="search-item-header">Non-Case-Sensitive Search</p>
}
<p>The word "@Model.GetTarget()" appears @Model.CalculateCount() times in the following text:</p>
<p>"@Model.GetPhrase()"</p>
<p class="search-item-footer">(search completed @Model.GetSearchTime())</p>
<form action="/repeatcounter/new" method="get"><br><br>
  <button type="submit">Count anew!</button>
</form>
@Html.Partial("SearchHistory")
